<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transsnet.version">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name="org.didd.version.VersionActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/didd_modal_dialog" />
    </application>

</manifest>